.App {
  width: 100%;
}

.bgimage {
  text-align: center;
  background-image: url("../src/Assets/bkgrnd.png");
  background-size: cover;
  width: 100%;
  position: fixed;
  z-index: 0;
  height: 100vh;
}

.section {
  min-height: 96vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  padding-top: 100px;
  color: white;
  z-index: 1;
}

.footer {
  font-style: normal;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  color: gainsboro;
  font-weight: 400;
}

.sym {
  padding-right: 100px;
  color: gainsboro;
}

.socials {
  fill: white;
  color: gainsboro;
}

.hidden-desk {
  display: none;
}

@media screen and (max-width: 500px) {
  .hidden {
    display: none;

  }

  .hidden-desk {
    display: block;
    padding-right: 30px;
    color: yellow;
  }

  .bgmain {
    min-height: 30vh;
  }

  .bgmain p {
    padding-top: 120px;
    font-size: 1.7rem;
  }

  .logo {
    padding-left: 10px;
  }

  .sym {
    padding-right: 10px;
  }

  .Columns {
    display: flex;
    flex-direction: column;
  }

  .box {
    margin: 0;
    margin-bottom: 30px;
  }
}