
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');
.bgmain {
    min-height: 96vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding-top: 270px;
    color: black;
    
    
}

:root{
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

.bgmain p{
    flex-direction:row;
    margin-left: auto;
    font-family: 'Tourney', cursive;
    font-weight: 400;
    color: gainsboro;
    font-size: 75px;
    padding-right: 10px;
    
}



.bgmain img{
    min-height: 96vh;
    padding: 0px;
    margin: 0;
}

.himage{
    background-color: rgba(96, 171, 1, 0.756);
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-left: auto;
    justify-content: flex-end;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


a {
    font-family: "Montserrat",sans-serif;
    font-weight:500;
    font-size: 16px;
    color:#F29F05;
    text-decoration: none;
}

.navbar{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: #040720;
z-index: 2;
position: fixed;
width: 100%;
}

.logo {
    cursor: pointer;
    padding-left: 65px;
    width: 77px;
    height: 70px;
}

.nav_links {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    flex-direction: row;
    justify-content: flex-end;

}


.nav_links a {
    transition: all 0.3s ease 0s;
    padding-left: 30px;
    justify-content: flex-end;
}

.nav_links a:hover {
    color: #0088a9;
}

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&family=Tourney:wght@100&display=swap');

.titles h1{
    font-family: 'Tektur', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    opacity: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Tektur:wght@500&family=Tourney:wght@100&display=swap');

.Columns {
    display: flex;
    flex-direction: row;
    height:300px;

}

/* .Columns :hover{
    transform: translateY(-10px);
} */

.box{
    height: 360px;
    width: 290px;
    background-color: #FFC672;
    border-radius: 20px;
    margin: 80px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}

.box:hover{
    transform: translateY(-40px);
    transition-property: ;
    transition-duration:0.3s;
    transition-timing-function: ease;
    transition-delay:0s ;

}


.box h1{
    color: black;
    font-size: 28px;
    text-align: center;
    font-family: 'M PLUS Code Latin', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Shantell+Sans&family=Tektur:wght@500&family=Tourney:wght@100&display=swap');

.box h2{
    

}
.box li{
    color: black;
    font-size: 22px;
    text-align: left;
    font-family: 'M PLUS Code Latin', sans-serif;
}

.mini{
    height: 30px;
    width: 160px;
    background-color: honeydew;
    padding: 0px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.alignment{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}


@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');

.mini h4{
    color: black;
    font-family: 'Shantell Sans', cursive;
    font-size: 22px;
    display: flex;
    text-align: center;
    align-items: center;
}